h1{
    font-size: 100px;
    font-weight: 900;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-display: none;
    font-variant-position: normal;
    text-align: center;
    text-decoration-color: blue;
}